{% extends "base.html" %}
{% block title %}Enter secret key{% endblock %}
{% block content %}
<div class="secret-key-page">
    <div class="form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
