{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="signup-page">
    <div class="form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
            <p class="message">Have account? <a href="/sign_in">Sign In</a></p>
        </form>
    </div>
</div>
{% endblock %}
