{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
<div class="login-page">
    <div class="form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign In</button>
            <p class="message">Not registered? <a href="/sign_up">Create an account</a></p>
        </form>
    </div>
</div>
{% endblock %}
