body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre {
    border: thin solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
}

.Header {
    margin: 0 auto;
    text-align: center;
}

.PostShort {
    border: thin solid;
    margin-bottom: 3%;
    padding: 3% 3% 3% 3%;
    background-color: #FFFFFF;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .5);
}

.Pagination {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

.PaginationButton {
    font-size: 1.5rem;
    outline: none;
    background-color: Transparent;
    border-radius: 20rem;
    border-color: black;
    margin-right: 1rem;
    margin-left: 1rem;
}

.Like {
    display: inline;
    margin: 0 auto;
}

.LikeButton {
    outline: 0;
    font-size: 1rem;
    border-radius: 10rem;
    background-color: lightblue;
    border-color: brown;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Liked {
    background-color: darkorange;
}

.PostCreator {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 1rem 1rem;
}

.PostCreator > input[type=text] {
    width: 90%;
    padding: 1rem;
}
.PostCreator > textarea {
    position: relative;
    width: 95%;
    height: 10rem;
    padding: 1rem;
}

.PostCreator > button {
    margin-top: 1rem;
}

.CommentBlock {
    position: relative;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}

.CommentBlock > textarea {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-radius: 2rem;
    outline: 0;
}

.CommentBlock > button {
    margin-top: 1rem;
    margin-bottom: 0;
}

.Comments {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 1rem 1rem 1rem 1rem ;
}

.Comment {
    border: thin solid;
    margin: 1rem;
    padding: 3% 3% 3% 3%;
    background-color: #FFFFFF;
    border-radius: 2rem;
}

.SearchBar {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.SearchBarInner {
    position: relative;
    display: inline-block;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 0.3rem;
    border: thin sandybrown;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .5);
}

.SearchBarInner > input {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    height: 0.5rem;
    padding: 1rem;
}

.SearchBarInner > button {
    margin-left: 1rem;
}
